.home .split {
  padding: 0.2rem 0.4rem;
  background-color: var(--pink-dark);
}

.stats {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.regions {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  background-color: transparent;
  padding: 0;
  font-weight: 700;
  text-transform: capitalize;
}

@media (min-width: 700px) {
  .headline {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .stats {
    flex-direction: column;
    gap: 0.4rem;
  }

  .regions {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
