@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-primary: #ec4c8a;
  --pink-light: #fb5092;
  --pink-dark: #e62f75;
  --pink-darker: #b13967;
}

body {
  background-color: var(--pink-primary);
  font-family: 'Lato', sans-serif;
  color: #fff;
}

svg {
  width: 24px;
  cursor: pointer;
}
